// join(delim, args)
//     buf = ''
//     for arg, index in args
//       if index
//         buf += delim + arg
//       else
//         buf += arg
//     return buf

.main
  margin 0
  padding 0

.tiles_group
  display flex
  flex-flow row wrap
  justify-content space-between
  margin 0
  padding 0
  width 97.36%

div#central_content
  margin 0
  padding 0
  display block

div#main_content_accueil
div#main_content_calcul-mental
div#main_content_6e
div#main_content_5e
div#main_content_4e
div#main_content_3e
  display flex

// $start = 'div#central_4e_'
// $themes = equations calcul-litteral triangle-rectangle
// for t in $themes
//   join('', $start t)
//
//   display none

div#central_4e_equations
div#central_4e_calcul-litteral
div#central_4e_triangle-rectangle
div#central_calcul-mental_ceinture-blanche-1er-trait
div#central_calcul-mental_ceinture-blanche-2e-trait
div#central_calcul-mental_ceinture-jaune
div#central_calcul-mental_ceinture-jaune-1er-trait
div#central_calcul-mental_ceinture-jaune-2e-trait
  display none
