.main
  display flex
  flex-flow row wrap
  justify-content space-between
  margin 0
  padding 0
  width 81.25%

div#central_content
  display block

div#main_content_accueil
div#main_content_calcul-mental
div#main_content_6e
div#main_content_5e
div#main_content_4e
div#main_content_3e
  display flex

div#central_4e_equations
div#central_4e_calcul-litteral
div#central_4e_triangle-rectangle
  display none
