$midnight-blue = #263F9B
$navy = #000080

.footer
  bottom 0
  height 30px // Height of the footer
  margin 0
  padding 0
  position absolute
  width 100%

.footer_row
  margin-left 16.33%
  padding 0
  width 83.33%

.footer-entries
  list-style-type none
  display flex
  margin 0
  padding 0

.footer_entry
  font-size 83%
  margin 0
  min-width 16%
  padding 0
  text-align center

li.active_footer_entry.active_footer_entry a
  color $midnight-blue
  text-decoration underline
  text-decoration-color $midnight-blue
