.leftmenu_col
  padding-right 0.75%
  padding-left 0.75%

.leftentry
  margin-bottom 8px

.leftentry.cat_6e
  color white
  background-color #ffea94
  transition all 0.6s ease 0s

.leftentry.cat_6e.active
.leftentry.cat_6e:hover
  color white
  background-color #ffcc00
  transition all 0.6s ease 0s

.leftentry.cat_5e
  color white
  background-color #c6e9af
  transition all 0.6s ease 0s

.leftentry.cat_5e.active
.leftentry.cat_5e:hover
  color white
  background-color #5aa02c
  transition all 0.6s ease 0s

.leftentry.cat_4e
  color white
  background-color #afc6e9
  transition all 0.6s ease 0s

.leftentry.cat_4e.active
.leftentry.cat_4e:hover
  color white
  background-color #3a57ae
  transition all 0.6s ease 0s

.leftentry.cat_3e
  color white
  background-color #e9afaf
  transition all 0.6s ease 0s

.leftentry.cat_3e.active
.leftentry.cat_3e:hover
  color white
  background-color #d40000
  transition all 0.6s ease 0s

.nav-stacked > li > a
  color #999999
  background-color #f0f0f0
  transition all 0.6s ease 0s

.col-md-10
.main
  color #333333

