.news-panel
  border-radius 0
  border-width 0
  width 100%

.news-main-heading
  max-height 10
  min-height 10

.news-heading
  background-color #60a8e2
  padding 0

.news-title
  color white
  background-color #60a8e2
  height 100%

.news-main-title
  font-size 125%
  height 55px
  line-height 50px
  width 100%

.news-small-title
  line-height 20px

.news-body
  font-size 75%
  border-color #60a8e2
  border-width 1px
  border-top-width 0
  border-style solid
  padding 5px
