.nav-pills > li > a,
.news-panel {
  border-radius: 0;
}

.news-panel,
.news-body {
  border-width: 0;
}

.news-body {
  border-width: 1px;
  border-top-width: 0;
  border-style: solid;
}

.news-title {
  height: 42px;
}

.news-main-title {
  height: 55px;
}
