{% extends 'layout.html' %}

{% block navigation %}
<div class="col-md-12 navbar_row" role="navigation">
  <ul class="nav nav-pills navbar_entries">
    {% for slug, link, entry in navbar_data %}
      {% if active_category == entry %}
        <li role="presentation" class="active navbar_entry navbar_active_{{ slug }}">
          <a href="{{ link }}">{{ entry }}</a>
        </li>
      {% else %}
        <li role="presentation" class="navbar_entry navbar_{{ slug }}">
          <a href="{{ link }}">{{ entry }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block leftmenu %}
  <ul class="nav nav-pills nav-stacked">
    {% for cat_slug, thm_slug, link, entry in leftmenu_data %}
      {% if active_theme == entry %}
        <li role="presentation" class="active">
          <a class="leftentry cat_{{ cat_slug }} active" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
        </li>
      {% else %}
        <li role="presentation">
          <a class="leftentry cat_{{ cat_slug }}" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
<div class="category-content" id="main_content_{{ category_slug }}">
  {{ category_content|safe }}
</div>
{% if not footer %}
<div id="central_content">
{% for theme_slug, data in tiles_data %}
  <div class="tiles_group" id="central_{{ category_slug }}_{{ theme_slug }}">
    {% for name, content in data %}
      <div class="panel panel-default tile">
        <div class="panel-heading">{{ name }}</div>
        <div class="panel-body">{{ content|safe }}</div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block footer %}
<div class="footer row">
  <div class="col-md-12 footer_row" role="navigation">
    <ul class="footer-entries">
      {% for link, entry in footer_data %}
        {% if active_category == entry %}
          <li role="presentation" class="active footer_entry active_footer_entry">
            <a href="/{{ link }}/">{{ entry }}</a>
          </li>
        {% else %}
          <li role="presentation" class="footer_entry">
            <a href="/{{ link }}/">{{ entry }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!--<div class="debug">
    <p>Test: {{ test_var }}<br></p>
  </div>-->
</div>
{% endblock %}