{% extends 'layout.html' %}

{% block no-javascript %}
<div class="panel panel-default" style="padding: 0; margin: 20px; width: 95%;">
  <div class="panel-body">
    <p><b>Désolé...</b></p>
    <p>Ce site a besoin d'un peu de <a href="https://support.mozilla.org/fr/kb/parametres-javascript-pages-interactives#w_quest-ce-que-javascript">javascript</a> pour fonctionner et cette fonctionnalité
    est désactivée dans votre navigateur.</p>
    <p>Le temps de développement supplémentaire pour rendre le site accessible correctement sans javascript
      est trop long, je n'ai pas eu le temps de le faire et ne sais pas quand ce sera le cas.</p>
  </div>
</div>

<div class="panel panel-default" style="padding: 0; margin: 20px; width: 95%;">
  <div class="panel-body">
    <p>Pour remédier à cette situation et vous permettre d'accéder au contenu, il y a actuellement deux possibilités :
      <ul>
        <li>Vous pouvez simplement <a href="http://www.enable-javascript.com/fr/">activer javascript</a>.</li>
        <li>Vous améliorez vous-mêmes le code du site. Consulter <a href="https://github.com/nicolashainaux/mathmaker">cette page</a> pour me contacter.</li>
      </ul>
    </p>
  </div>
</div>
<div class="panel panel-default" style="padding: 0; margin: 20px; width: 95%;">
  <div class="panel-body">
    <p>
      Si aucune de ces possibilités ne vous convient, je suis désolé mais pas en mesure actuellement de vous faire accéder au contenu de ce site.
    </p>
  </div>
</div>
{% endblock %}

{% block navigation %}
<div class="col-md-12 navbar_row" role="navigation">
  <ul class="nav nav-pills navbar_entries">
    {% for slug, link, entry, html_entry in navbar_data %}
      {% if active_category == entry %}
        <li role="presentation" class="active navbar_entry navbar_active_{{ slug }}">
      {% else %}
        <li role="presentation" class="navbar_entry navbar_{{ slug }}">
      {% endif %}
          {% if html_entry == 'unset' %}
          <a href="{{ link }}">{{ entry }}</a>
          {% else %}
          <a href="{{ link }}">{{ html_entry|safe }}</a>
          {% endif %}
        </li>

    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block leftmenu %}
  <ul class="nav nav-pills nav-stacked">
    {% for cat_slug, thm_slug, link, entry, html_entry in leftmenu_data %}
      {% if active_theme == entry %}
        <li role="presentation" class="active">
          {% if html_entry == 'unset' %}
          <a class="leftentry cat_{{ cat_slug }} active" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
          {% else %}
          <a class="leftentry cat_{{ cat_slug }} active" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ html_entry|safe }}</a>
          {% endif %}
        </li>
      {% else %}
        <li role="presentation">
          {% if html_entry == 'unset' %}
          <a class="leftentry cat_{{ cat_slug }}" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
          {% else %}
          <a class="leftentry cat_{{ cat_slug }}" id="leftmenu_{{ cat_slug }}_{{ thm_slug }}" href="{{ link }}">{{ html_entry|safe }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
<div class="category-content" id="main_content_{{ category_slug }}">
  {{ category_content|safe }}
</div>
{% if not footer %}
<div id="central_content">
{% for theme_slug, data in tiles_data %}
  <div class="tiles_group" id="central_{{ category_slug }}_{{ theme_slug }}">
    {% for name, content in data %}
      <!-- {# {% if forloop.counter|divisibleby:3  %} #} -->
      <div class="panel panel-default tile">
        <div class="panel-heading">{{ name }}</div>
        <div class="panel-body">{{ content|safe }}</div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block footer %}
<div class="footer row">
  <div class="col-md-12 footer_row" role="navigation">
    <ul class="footer-entries">
      {% for link, entry in footer_data %}
        {% if active_category == entry %}
          <li role="presentation" class="active footer_entry active_footer_entry">
            <a href="/{{ link }}/">{{ entry }}</a>
          </li>
        {% else %}
          <li role="presentation" class="footer_entry">
            <a href="/{{ link }}/">{{ entry }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!--<div class="debug">
    <p>Test: {{ test_var }}<br></p>
  </div>-->
</div>
{% endblock %}