<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>mr.hainaux.net</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
</head>

<body>
    <div role="navigation">
        <ul id="navbar_menu" class="nav nav-pills">
            {% for link, entry in navbar_infos %}
                {% if active_category == entry %}
                    <li role="presentation" class="active"><a href="/{{ link }}/">{{ entry }}</a></li>
                {% else %}
                    <li role="presentation"><a href="/{{ link }}/">{{ entry }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div role="navigation">
        <ul id="left_menu" class="nav nav-pills nav-stacked">
            {% for link, entry in leftmenu_infos %}
                {% if active_theme == entry %}
                    <li role="presentation" class="active"><a href="{{ link }}">{{ entry }}</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ link }}">{{ entry }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if active_theme == '' %}
        <div>
            <p>{{ category_content|safe }}<br></p>
        </div>
    {% else %}
        {% for content in thumbnails_contents %}
            <div>
                <p>{{ content|safe }}<br></p>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <p>Test: {{ test_var }}<br></p>
    </div>
</body>
</html>
