{% extends 'default.html' %}

{% block leftmenu %}
<section class="accordion">
  {% for belt_title, belt_tag, infos in leftmenu_data %}
    <div class="leftentry_belt">
  		<input id="ac-{{ belt_tag }}" name="accordion-belts" type="radio"/>
  		<label class="aclabel" id="aclabel-{{ belt_tag }}" for="ac-{{ belt_tag }}">{{ belt_title }}</label>
      {% if belt_tag == 'Ceintureblanche' %}
      <article class="ac-xsmall">
      {% else %}
  		<article class="ac-small">
      {% endif %}
        <ul class="nav nav-pills nav-stacked">
          {% for link, thm_slug, thm_name, entry, html_entry in infos %}
            {% if active_theme == thm_name %}
            <li class="active leftentry {{ category_slug }}">
              {% if html_entry == 'unset' %}
              <a class="leftentry {{ belt_tag }} cat_{{ category_slug }} active" id="leftmenu_{{ category_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
              {% else %}
              <a class="leftentry {{ belt_tag }} cat_{{ category_slug }} active" id="leftmenu_{{ category_slug }}_{{ thm_slug }}" href="{{ link }}">{{ html_entry|safe }}</a>
              {% endif %}
            </li>
            {% else %}
            <li class="leftentry {{ category_slug }}">
              {% if html_entry == 'unset' %}
              <a class="leftentry {{ belt_tag }} cat_{{ category_slug }}" id="leftmenu_{{ category_slug }}_{{ thm_slug }}" href="{{ link }}">{{ entry }}</a>
              {% else %}
              <a class="leftentry {{ belt_tag }} cat_{{ category_slug }}" id="leftmenu_{{ category_slug }}_{{ thm_slug }}" href="{{ link }}">{{ html_entry|safe }}</a>
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </article>
  	</div>
  {% endfor %}
</section>
{% endblock %}